* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body:not(nav) {
  font-family: "Poppins", sans-serif;
}

/*header*/
.header-info {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-bottom: 40px;
}

.header-info img {
  margin-right: 5px;
  width: 100%;
}

.header-info-container {
  background-color: white;
  position: relative;
  bottom: 70%;
  padding: 30px 0;
  width: 600px;
  margin: 0 auto;
  grid-column-start: span 2;
}

.header-info-container div {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.header-info-container p {
  font-size: 1.2rem;
  font-weight: 500;
}

.header-info-container h1 {
  font-size: 4rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1170px) {
  .header-info {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1130px) {
  .header-info {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1070px) {
  .header-info {
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 1020px) {
  .header-info {
    margin-bottom: -50px;
  }
}

@media screen and (max-width: 960px) {
  .header-info {
    margin-bottom: -90px;
  }
}

@media screen and (max-width: 900px) {
  .header-info {
    margin-bottom: -120px;
  }
}

@media screen and (max-width: 850px) {
  .header-info img:nth-child(2) {
    display: none;
  }

  .header-info {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
  }

  .header-info img {
    height: 590px;
  }

  .header-info-container {
    bottom: 90px;
    padding: 18px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  .header-info-container h1 {
    font-size: 3rem;
    margin-bottom: 5px;
  }

  .header-info-container p {
    font-size: 0.9rem;
  }
}

/*Nyttig information*/
.nyttig-information {
  max-width: 1200px;
  margin: 0 auto;
}

.nyttig-information h2 {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 10px;
}

.nyttig-information p {
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.7;
  margin-bottom: 70px;
}

/*Information artikler*/
.artikler {
  max-width: 1200px;
  margin: 0 auto;
}

.artikler h2 {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.info-artikler {
  width: 100%;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.article-container {
  height: 100%;
  flex-basis: calc(50% - 20px);
}

.article-img-1,
.article-img-2,
.article-img-3,
.article-img-4 {
  background-image: url(/assets/img/banegård3.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  width: 100%;
  height: 100%;
  transition: all 250ms ease-in-out;
}

.article-img-2 {
  background-image: url(/assets/img/parkeringskælder2.jpg);
}

.article-img-3 {
  background-image: url(/assets/img/oplevelsesguide.jpg);
}

.article-img-4 {
  background-image: url(/assets/img/trafik3.jpg);
}

.article-img-1 a,
.article-img-2 a,
.article-img-3 a,
.article-img-4 a {
  font-size: 2rem;
  padding: 1.2%;
  text-decoration: none;
  background-color: white;
  box-shadow: 10px 10px #ff9a64;
  top: 85%;
  left: 3%;
  position: relative;
  color: black;
  font-weight: 500;
}

.article-img-1 a:hover,
.article-img-2 a:hover,
.article-img-3 a:hover,
.article-img-4 a:hover {
  color: rgb(103, 103, 103);
}

.article-img-1:hover,
.article-img-2:hover,
.article-img-3:hover,
.article-img-4:hover {
  background-size: 130%;
}

.info-artikler:nth-child(2) {
  margin-bottom: 30px;
}

.info-artikler h2 {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 1077px) {
  .article-img-1 a,
  .article-img-2 a,
  .article-img-3 a,
  .article-img-4 a {
    font-size: 1.5rem;
    padding: 1.2%;
    top: 75%;
  }
}

@media screen and (max-width: 850px) {
  .info-artikler {
    flex-direction: column;
  }

  .article-container {
    width: 50%;
    margin: 0 auto;
  }

  .article-img-1,
  .article-img-2,
  .article-img-3,
  .article-img-4 {
    background-size: 120%;
    width: 100%;
    height: 100%;
  }

  .article-img-1 a,
  .article-img-2 a,
  .article-img-3 a,
  .article-img-4 a {
    font-size: 1.2rem;
    top: 75%;
  }
}

@media screen and (max-width: 768px) {
  .nyttig-information h2 {
    font-size: 1.8rem;
  }

  .nyttig-information p {
    font-size: 1.3rem;
  }
  .artikler h2 {
    font-size: 1.8rem;
  }
}
