* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
/*oplevelser*/
.oplevelser {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 5px;
}
.oplevelser img {
  width: 600px;
  height: auto;
}
.oplevelser-title {
  width: 800px;
  background-color: #ffff;
  position: relative;
  top: -50px;
  margin: 0 auto;
  border-radius: 10px;
}
.oplevelser-title h2 {
  font-size: 48px;
  text-align: center;
  align-items: center;
}
.oplevelser-title p {
  font-size: 18px;
  text-align: center;
}

.oplevelser-nav {
  background-color: rgb(243, 237, 229);
  margin: 0 auto;
  margin-bottom: 80px;
}

.oplevelser-nav h2 {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  padding: 40px;
}

.article-container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 20px;
  margin-bottom: 50px;
}

.article-container article {
  width: 50%;
}

.img-1,
.img-2 {
  background-image: url(/assets/img/danskmølle2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-position: center;
  background-size: 120%;
  width: 100%;
  height: 400px;

  transition: all 250ms ease-in-out;
}

.img-1:hover,
.img-2:hover {
  background-size: 130%;
}
.img-1 a,
.img-2 a {
  font-size: 16px;
  padding: 1.2%;
  text-decoration: none;
  background-color: white;
  box-shadow: 10px 10px #ff9a64;
  top: 89%;
  left: 3%;
  position: relative;
  color: black;
  font-weight: 500;
}
.img-1 a:hover,
.img-2 a:hover {
  color: rgb(103, 103, 103);
}

.img-2 {
  background-image: url(/assets/img/shopping3.jpg);
}
.article-container-2 {
  display: flex;
}

.natteliv {
  width: 100%;
  display: flex;
  gap: 30px;
}

.natteliv-simple article {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  margin-bottom: 70px;
}

.natteliv-simple img {
  width: 200px;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: all 250ms ease-in-out;
}

.natteliv-simple h3 {
  font-size: 16px;
  padding: 1.2%;
  text-decoration: none;
  background-color: white;
  box-shadow: 10px 10px #ff9a64;
  top: 70%;
  left: 3%;
  position: relative;
  color: black;
  font-weight: 500;
}

.natteliv-simple h3:hover {
  color: rgb(79, 79, 79);
}

.natteliv-simple a {
  text-decoration: none;
}

.natteliv-simple p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: start;
  gap: 10px;
}

.geografisk-have {
  width: 100%;
  display: flex;
  gap: 30px;
}

.geografisk-have-simple article {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  margin-bottom: 70px;
}

.geografisk-have-simple img {
  width: 50%;
}
.geografisk-have-simple img:hover {
  background-size: 120%;
}

.geografisk-have-simple h3 {
  font-size: 16px;
  padding: 1.2%;
  text-decoration: none;
  background-color: white;
  box-shadow: 10px 10px #ff9a64;
  top: 89%;
  left: 3%;
  position: relative;
  color: black;
  font-weight: 500;
}

.geografisk-have-simple h3:hover {
  color: rgb(79, 79, 79);
}

.geografisk-have-simple a {
  text-decoration: none;
}

.geografisk-have-simple p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: start;
}
.havnen {
  width: 100%;
  display: flex;
  gap: 30px;
}

.havnen-simple article {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  margin-bottom: 70px;
}

.havnen-simple img {
  width: 50%;
}
.havnen-simple img:hover {
  background-size: 100%;
}
.havnen-simple h3 {
  font-size: 16px;
  padding: 1.2%;
  text-decoration: none;
  background-color: white;
  box-shadow: 10px 10px #ff9a64;
  top: 70%;
  left: 3%;
  position: relative;
  color: black;
  font-weight: 500px;
}

.havnen-simple h3:hover {
  color: rgb(79, 79, 79);
}

.havnen-simple a {
  text-decoration: none;
}

.havnen-simple p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: start;
}
