* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body:not(nav) {
  font-family: "Poppins", sans-serif;
}

/*Nav*/
nav {
  font-family: "Space Grotesk", sans-serif;
  background-color: #ff9964;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
}

nav ul {
  width: 100%;
}

nav ul:not(:first-child) {
  display: flex;
  margin: 0 auto;

  gap: 30px;
  list-style: none;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
}

nav a:not(.logo):hover {
  color: white;
  transition: 0.3s;
}

nav ul li:nth-child(1) {
  margin-left: auto;
}

nav ul li:nth-child(6) {
  margin-left: auto;
  margin-right: 20px;
}

nav img {
  height: 65px;
  width: 175px;
  align-items: center;
  justify-content: center;
  margin-left: 20%;
}

.fa-magnifying-glass {
  font-size: 1.8rem;
  margin-left: auto;
}

.fa-magnifying-glass:hover {
  color: white;
}

#toggle-nav,
#toggle-nav-btn-open,
#toggle-nav-btn-close {
  display: none;
}

#toggle-nav {
  z-index: 9999;
}

/*Nav Responsiv*/
@media screen and (max-width: 1043px) {
  .nav-links {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 250px;
    background-color: #ff9964;
    text-align: center;
    z-index: 99;
    display: none;
  }

  #toggle-nav-btn-open {
    display: inline-block;
  }

  nav {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  nav img {
    margin-top: 0;
  }

  .nav-links li a:hover {
    color: white;
  }

  #toggle-nav:checked ~ label #toggle-nav-btn-open {
    display: none;
  }

  #toggle-nav:checked ~ label #toggle-nav-btn-close {
    display: inline-block;
  }
}

#toggle-nav:checked ~ .nav-links {
  opacity: 1;
  left: 0;
  display: block;
  top: 90px;
}

#toggle-nav-btn-open,
#toggle-nav-btn-close {
  margin-right: 30px;
}

#toggle-nav-btn-open,
#toggle-nav-btn-close {
  font-size: 3rem;
  color: black;
}

/*Header Blog*/
header {
  max-width: 1200px;
  height: 620px;
  display: flex;
  gap: 10px;
  margin: 0 auto;
  margin-bottom: 80px;
}

/*Header Blog - Post 1*/
.blog-container-headline {
  width: 60%;
  height: 100%;
}

.headline-img-1 {
  background-image: url(/assets/img/torv1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
  width: 100%;
  height: 100%;
  transition: all 250ms ease-in-out;
}

.headline-img-1:hover {
  background-size: 180%;
}

.headline-img-1 a {
  font-size: 1.6rem;
  padding: 1.2%;
  text-decoration: none;
  background-color: white;
  box-shadow: 10px 10px #ff9a64;
  top: 88%;
  left: 3%;
  position: relative;
  color: black;
  font-weight: 500;
}

.headline-img-1 a:hover {
  color: rgb(103, 103, 103);
}

/*Header Blog - Post 2 and 3*/
.blog-container-subline {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
}

.headline-img-2,
.headline-img-3 {
  background-image: url(/assets/img/bar1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
  width: 100%;
  height: 100%;
  transition: all 250ms ease-in-out;
}

.headline-img-2 {
  margin-bottom: 10px;
}

.headline-img-3 {
  background-image: url(/assets/img/bybillede_havn.jpg);
}

.headline-img-2:hover,
.headline-img-3:hover {
  background-size: 180%;
}

.headline-img-2 a,
.headline-img-3 a {
  font-size: 1.6rem;
  padding: 1.2%;
  text-decoration: none;
  background-color: white;
  box-shadow: 10px 10px #ff9a64;
  top: 80%;
  left: 3%;
  position: relative;
  color: black;
  font-weight: 500;
}

@media screen and (max-width: 700px) {
  .headline-img-1 {
    background-size: 160%;
    width: 100%;
    height: 100%;
  }
}

/*oplevelser*/
.oplevelser-overview {
  max-width: 1200px;
  margin: 0 auto;
}

.oplevelser-overview h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.oplevelser-info-container {
  display: flex;
  margin-bottom: 70px;
  align-items: center;
}

.oplevelser-info-container p {
  flex: 1;
  line-height: 1.8;
  font-size: 1.7rem;
  font-weight: 500;
}

.oplevelser-links-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */

  row-gap: 15px;
}

.oplevelser-links-container a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.7rem;
}

.oplevelser-links-container a:hover {
  color: #ff9964;
}

@media screen and (max-width: 900px) {
  .oplevelser-info-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
  }

  .oplevelser-info-container p {
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .oplevelser-info-container a,
  .oplevelser-info-container p {
    font-size: 1.5rem;
  }
  .oplevelser-overview h2 {
    font-size: 2rem;
  }
}

/*Nyflytter blog*/
.nyflytter-sectionblog {
  width: 100%;
  background-color: rgb(241, 236, 231);
  padding-top: 30px;
}

.nyflytter-container {
  max-width: 1200px;
  height: auto;
  align-items: center;
  margin: 0 auto;
}

.nyflytter-articles {
  width: 100%;
  display: flex;
  gap: 30px;
}

.nyflytter-articles article {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 350px;
  width: 400px;
  margin-bottom: 70px;
}

.nyflytter-articles img {
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nyflytter-articles img:hover {
  transform: translateY(-5px);
  transition: all 300ms ease-out;
}

.nyflytter-articles article h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.9rem;
  font-weight: bold;
  color: black;
}

.nyflytter-articles article h3:hover {
  color: rgb(79, 79, 79);
}

.nyflytter-articles article a {
  text-decoration: none;
}

.nyflytter-articles article p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: start;
}

.nyflytter-container h2 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 15px;
  text-align: center;
}

.nyflytter-container p {
  font-weight: 500;
  font-size: 1.7rem;
  margin-bottom: 45px;
  text-align: center;
}

@media screen and (max-width: 950px) {
  .nyflytter-articles article h3 {
    font-size: 1.6rem;
  }

  .nyflytter-articles article p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 850px) {
  .nyflytter-articles {
    flex-direction: column;
  }

  .nyflytter-articles article h3 {
    font-size: 1.9rem;
  }

  .nyflytter-articles article p {
    font-size: 1.6rem;
  }

  .nyflytter-articles article {
    margin-bottom: 20px;
  }

  .nyflytter-articles article:last-child {
    margin-bottom: 60px;
  }
}

/*Design skolen*/
.designskolen {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 70px;
}

.designskolen img {
  width: 100%;
  height: 100%;
}

.design-txt-container {
  font-size: 1.6rem;
  padding: 1.2%;
  text-decoration: none;
  background-color: white;
  box-shadow: 10px 10px #ff9a64;
  bottom: 150px;
  left: 3%;
  width: 450px;
  position: relative;
  color: black;
  font-weight: 500;
}

.design-txt-container h2 {
  margin-bottom: 5px;
}

.design-small-img {
  display: flex;
  gap: 10px;
  position: relative;
  bottom: 110px;
}

.design-small-img img:first-child {
  border: 3.5px solid #ff9a64;
}

@media screen and (max-width: 1065px) {
  .designskolen img {
    height: 90%;
    width: 90%;
    display: block;
    margin: 0 auto;
  }

  .design-small-img {
    bottom: 65px;
    width: 95%;
    margin: 0 auto;
    gap: 0;
  }

  .design-small-img img {
    width: 15%;
  }

  .design-txt-container {
    font-size: 1.3rem;
    padding: 1%;
    bottom: 100px;
    left: 8%;
    width: 450px;
  }
}

@media screen and (max-width: 900px) {
  .design-txt-container {
    font-size: 1rem;
    width: 400px;
    bottom: 85px;
  }

  .design-small-img {
    bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .design-txt-container {
    font-size: 0.8rem;
    bottom: 75px;
    width: 320px;
  }

  .design-small-img {
    bottom: 45px;
  }
}

/*Footer*/
.footer-1 {
  background-color: #ff9964;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  font-size: 36px;
}

.footer-1 p {
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 20px;
}

.footer-1 ul {
  color: black;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 20px;
  text-align: center;
  align-items: center;
}

.footer-1 li a {
  color: black;
  font-size: 2.5rem;
}

.footer-1 ul li a:hover {
  color: white;
}
.footer-2 {
  background-color: rgb(237, 233, 233);
  padding: 40px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.footer-2 ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.footer-2 ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
}

.footer-2 ul li a:hover {
  color: #ff9964;
}

.footer-3 {
  background-color: #ff9a64;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-3 p {
  color: rgb(138, 132, 132);
  font-size: 1.3rem;
  padding: 20px;
}

.footer-3 a {
  text-decoration: none;
  color: rgb(138, 132, 132);
  font-size: 1.3rem;
}
